<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie-edge'>
    <title>Document</title>
    <script src='./lib/vue-2.4.0.js'></script>
</head>

<body>
    <div id='app'>
        <input type="text" v-model="firstname">
        <input type="text" v-model="middelname">
        <input type="text" v-model="lastname">
        <input type="text" v-model="fullname">

        <p>{{ fullname}}</p>
        <p>{{ fullname}}</p>
        <p>{{ fullname}}</p>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '这是Vue模板',
                firstname:'',
                lastname:'',
                middelname:''
            },
            computed:{

                'fullname':function(){
                    console.log('ok')

                    return this.firstname +'-'+ this.middelname +'-'+ this.lastname
                }
                
            }
        })
    </script>
</body>

</html>